/* .body{
    height: 30vh;
    padding: 10px 42px;
} */


/* .modal{
    
    margin: auto;
} */



.bulk-hire_bulk_modal_heading{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.5rem;
}

.hire_bulk_modal_pragraph{
    color: #667085;
}
.bulk_hire_modal_button_done{
    background-color:  #206DC5;
    width: 85%;
    margin: auto;
}
.bulk_hire_modal_button_done:hover{
    background-color: #206DC5;
    color: white;
}